.ui-button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

.ui-button-icon-only .ui-icon {
  height: 0;
  overflow: hidden;
  display: block;
}

.ui-notification ul, .ui-sortable {
  list-style: none;
  padding-left: 0;
}
.ui-notification ul > li, .ui-sortable > li {
  list-style: none;
  padding-left: 0;
}

.ui-buttonset > .ui-button,
.ui-buttonset .ui-selectmenu-button, .ui-tabs, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li, .form-text-button-table .form-text-button-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-header .ui-icon, .ui-accordion .ui-accordion-content, .ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active, .ui-notification .ui-corner-all, .ui-slider .ui-slider-range, .ui-slider-horizontal .ui-slider-handle, .ui-slider-vertical .ui-slider-handle, .ui-tabs .ui-tabs-panel, .form-text:not(.form-text-button), .form-text,
.form-error, .form-global-error {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.ui-button-text-only .ui-button-text, .form-text {
  padding: 10px 16px 10px 16px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header, .ui-accordion .ui-accordion-header,
.ui-accordion .ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-hover,
.ui-accordion .ui-accordion-header.ui-state-focus, .ui-autocomplete.ui-menu.ui-widget.ui-widget-content, .ui-button, .ui-datepicker, .ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next, .ui-datepicker table .ui-state-default,
.ui-datepicker table .ui-widget-content .ui-state-default,
.ui-datepicker table .ui-widget-header .ui-state-default, .ui-dialog .ui-dialog-titlebar-close, .ui-notification .ui-state-default .ui-button, .ui-progressbar, .ui-slider, .ui-slider .ui-slider-handle, .ui-tabs .ui-tabs-panel, .ui-menu, .ui-menu.ui-widget-content, .ui-notification .ui-state-default .ui-button:hover, .ui-slider .ui-slider-handle:hover, .ui-tabs .ui-tabs-nav li.ui-state-active, .ui-sortable .ui-state-default:hover, .ui-slider .ui-slider-handle:active, .ui-slider .ui-slider-handle:focus {
  color: #333333;
  border: 1px solid #c1c1c1;
  text-shadow: rgba(255, 255, 255, 0.85) 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px white inset;
  -moz-box-shadow: 0 0 0px 1px white inset;
  box-shadow: 0 0 0px 1px white inset;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header, .ui-accordion .ui-accordion-header,
.ui-accordion .ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-hover,
.ui-accordion .ui-accordion-header.ui-state-focus, .ui-autocomplete.ui-menu.ui-widget.ui-widget-content, .ui-button, .ui-datepicker, .ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next, .ui-datepicker table .ui-state-default,
.ui-datepicker table .ui-widget-content .ui-state-default,
.ui-datepicker table .ui-widget-header .ui-state-default, .ui-dialog .ui-dialog-titlebar-close, .ui-notification .ui-state-default .ui-button, .ui-progressbar, .ui-slider, .ui-slider .ui-slider-handle, .ui-tabs .ui-tabs-panel {
  background-color: #f4f4f4;
  background: #f4f4f4 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background: #f4f4f4 -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background: #f4f4f4 -moz-linear-gradient(top, #ffffff, #eaeaea);
  background: #f4f4f4 -o-linear-gradient(top, #ffffff, #eaeaea);
  background: #f4f4f4 linear-gradient(top, #ffffff, #eaeaea);
}

.ui-accordion .ui-accordion-header.ui-state-hover, .ui-menu, .ui-menu.ui-widget-content, .ui-notification .ui-state-default .ui-button:hover, .ui-slider .ui-slider-handle:hover, .ui-tabs .ui-tabs-nav li.ui-state-active, .ui-sortable .ui-state-default:hover {
  background-color: #f4f4f4;
  background: #f4f4f4 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #ffffff));
  background: #f4f4f4 -webkit-linear-gradient(top, #eaeaea, #ffffff);
  background: #f4f4f4 -moz-linear-gradient(top, #eaeaea, #ffffff);
  background: #f4f4f4 -o-linear-gradient(top, #eaeaea, #ffffff);
  background: #f4f4f4 linear-gradient(top, #eaeaea, #ffffff);
}

.ui-slider .ui-slider-handle:active, .ui-slider .ui-slider-handle:focus {
  background-color: #e2e2e2;
  background: #e2e2e2 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d8d8d8));
  background: #e2e2e2 -webkit-linear-gradient(top, #ededed, #d8d8d8);
  background: #e2e2e2 -moz-linear-gradient(top, #ededed, #d8d8d8);
  background: #e2e2e2 -o-linear-gradient(top, #ededed, #d8d8d8);
  background: #e2e2e2 linear-gradient(top, #ededed, #d8d8d8);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, .ui-accordion .ui-accordion-header.ui-state-active, .ui-datepicker .ui-datepicker-prev:active,
.ui-datepicker .ui-datepicker-next:active, .ui-datepicker table .ui-state-active,
.ui-datepicker table .ui-widget-content .ui-state-active,
.ui-datepicker table .ui-widget-header .ui-state-active, .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-active, .ui-notification .ui-state-active .ui-button, .ui-state-default.ui-sortable-helper, .ui-state-default.ui-sortable-placeholder, .ui-notification .ui-state-active .ui-button:hover {
  color: #333333;
  border: 1px solid #afafaf;
  text-shadow: white 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0px 1px #f2f2f2 inset;
  box-shadow: 0 0 0px 1px #f2f2f2 inset;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, .ui-accordion .ui-accordion-header.ui-state-active, .ui-datepicker .ui-datepicker-prev:active,
.ui-datepicker .ui-datepicker-next:active, .ui-datepicker table .ui-state-active,
.ui-datepicker table .ui-widget-content .ui-state-active,
.ui-datepicker table .ui-widget-header .ui-state-active, .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-active, .ui-notification .ui-state-active .ui-button, .ui-state-default.ui-sortable-helper, .ui-state-default.ui-sortable-placeholder {
  background-color: #e5e5e5;
  background: #e5e5e5 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: #e5e5e5 -webkit-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 -moz-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 -o-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 linear-gradient(top, #f2f2f2, #d8d8d8);
}

.ui-notification .ui-state-active .ui-button:hover {
  background-color: #e5e5e5;
  background: #e5e5e5 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8d8d8), color-stop(100%, #f2f2f2));
  background: #e5e5e5 -webkit-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 -moz-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 -o-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 linear-gradient(top, #d8d8d8, #f2f2f2);
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus, .ui-datepicker table .ui-state-focus,
.ui-datepicker table .ui-widget-content .ui-state-focus,
.ui-datepicker table .ui-widget-header .ui-state-focus, .ui-notification .ui-state-focus .ui-button, .ui-notification .ui-state-focus .ui-button:hover {
  color: #333333;
  border: 1px solid #c9c9c9;
  text-shadow: rgba(255, 255, 255, 0.85) 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px white inset;
  -moz-box-shadow: 0 0 0px 1px white inset;
  box-shadow: 0 0 0px 1px white inset;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus, .ui-datepicker table .ui-state-focus,
.ui-datepicker table .ui-widget-content .ui-state-focus,
.ui-datepicker table .ui-widget-header .ui-state-focus, .ui-notification .ui-state-focus .ui-button {
  background-color: #f8f8f8;
  background: #f8f8f8 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background: #f8f8f8 -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background: #f8f8f8 -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background: #f8f8f8 -o-linear-gradient(top, #ffffff, #f2f2f2);
  background: #f8f8f8 linear-gradient(top, #ffffff, #f2f2f2);
}

.ui-notification .ui-state-focus .ui-button:hover {
  background-color: #f8f8f8;
  background: #f8f8f8 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  background: #f8f8f8 -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background: #f8f8f8 -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background: #f8f8f8 -o-linear-gradient(top, #f2f2f2, #ffffff);
  background: #f8f8f8 linear-gradient(top, #f2f2f2, #ffffff);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-button:hover, .ui-state-hover.ui-button, .ui-menu .ui-state-focus, .ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker table .ui-state-hover,
.ui-datepicker table .ui-widget-content .ui-state-hover,
.ui-datepicker table .ui-widget-header .ui-state-hover, .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover, .ui-notification .ui-state-hover .ui-button, .ui-progressbar .ui-widget-header, .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-notification .ui-state-hover .ui-button:hover {
  color: white;
  border: 1px solid #bc6500;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #ffa843 inset;
  -moz-box-shadow: 0 0 0px 1px #ffa843 inset;
  box-shadow: 0 0 0px 1px #ffa843 inset;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover, .ui-button:hover, .ui-state-hover.ui-button, .ui-menu .ui-state-focus, .ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker table .ui-state-hover,
.ui-datepicker table .ui-widget-content .ui-state-hover,
.ui-datepicker table .ui-widget-header .ui-state-hover, .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover, .ui-notification .ui-state-hover .ui-button, .ui-progressbar .ui-widget-header, .ui-tabs .ui-tabs-nav li.ui-state-hover {
  background-color: #ff9c28;
  background: #ff9c28 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa843), color-stop(100%, #ff900d));
  background: #ff9c28 -webkit-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 -moz-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 -o-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 linear-gradient(top, #ffa843, #ff900d);
}

.ui-notification .ui-state-hover .ui-button:hover {
  background-color: #ff9c28;
  background: #ff9c28 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff900d), color-stop(100%, #ffa843));
  background: #ff9c28 -webkit-linear-gradient(top, #ff900d, #ffa843);
  background: #ff9c28 -moz-linear-gradient(top, #ff900d, #ffa843);
  background: #ff9c28 -o-linear-gradient(top, #ff900d, #ffa843);
  background: #ff9c28 linear-gradient(top, #ff900d, #ffa843);
}

.ui-datepicker .ui-datepicker-header, .ui-dialog .ui-dialog-titlebar, .ui-notification .ui-state-title .ui-button, .ui-notification .ui-state-title .ui-button:hover {
  color: #333333;
  border: 1px solid #afafaf;
  text-shadow: white 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #f2f2f2 inset;
  -moz-box-shadow: 0 0 0px 1px #f2f2f2 inset;
  box-shadow: 0 0 0px 1px #f2f2f2 inset;
}

.ui-datepicker .ui-datepicker-header, .ui-dialog .ui-dialog-titlebar, .ui-notification .ui-state-title .ui-button {
  background-color: #e5e5e5;
  background: #e5e5e5 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8));
  background: #e5e5e5 -webkit-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 -moz-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 -o-linear-gradient(top, #f2f2f2, #d8d8d8);
  background: #e5e5e5 linear-gradient(top, #f2f2f2, #d8d8d8);
}

.ui-notification .ui-state-title .ui-button:hover {
  background-color: #e5e5e5;
  background: #e5e5e5 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8d8d8), color-stop(100%, #f2f2f2));
  background: #e5e5e5 -webkit-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 -moz-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 -o-linear-gradient(top, #d8d8d8, #f2f2f2);
  background: #e5e5e5 linear-gradient(top, #d8d8d8, #f2f2f2);
}

.ui-state-active.ui-button, .ui-notification .ui-state-contrast .ui-button, .ui-buttonset > .ui-button.ui-state-active:hover,
.ui-buttonset .ui-selectmenu-button.ui-state-active:hover, .ui-notification .ui-state-contrast .ui-button:hover {
  color: white;
  border: 1px solid #040405;
  text-shadow: #323334 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #43474b inset;
  -moz-box-shadow: 0 0 0px 1px #43474b inset;
  box-shadow: 0 0 0px 1px #43474b inset;
}

.ui-state-active.ui-button, .ui-notification .ui-state-contrast .ui-button {
  background-color: #363a3d;
  background: #363a3d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43474b), color-stop(100%, #2a2d2f));
  background: #363a3d -webkit-linear-gradient(top, #43474b, #2a2d2f);
  background: #363a3d -moz-linear-gradient(top, #43474b, #2a2d2f);
  background: #363a3d -o-linear-gradient(top, #43474b, #2a2d2f);
  background: #363a3d linear-gradient(top, #43474b, #2a2d2f);
}

.ui-buttonset > .ui-button.ui-state-active:hover,
.ui-buttonset .ui-selectmenu-button.ui-state-active:hover, .ui-notification .ui-state-contrast .ui-button:hover {
  background-color: #363a3d;
  background: #363a3d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2d2f), color-stop(100%, #43474b));
  background: #363a3d -webkit-linear-gradient(top, #2a2d2f, #43474b);
  background: #363a3d -moz-linear-gradient(top, #2a2d2f, #43474b);
  background: #363a3d -o-linear-gradient(top, #2a2d2f, #43474b);
  background: #363a3d linear-gradient(top, #2a2d2f, #43474b);
}

.form-text, .ui-autocomplete-input, .ui-datepicker .ui-datepicker-title select {
  color: #555555;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #a6a6a6 #999999;
  background-color: #f3f3f3;
  background: #f3f3f3 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background: #f3f3f3 -webkit-linear-gradient(top, #ffffff, #e8e8e8);
  background: #f3f3f3 -moz-linear-gradient(top, #ffffff, #e8e8e8);
  background: #f3f3f3 -o-linear-gradient(top, #ffffff, #e8e8e8);
  background: #f3f3f3 linear-gradient(top, #ffffff, #e8e8e8);
  text-shadow: white 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px white inset;
  -moz-box-shadow: 0 0 0px 1px white inset;
  box-shadow: 0 0 0px 1px white inset;
}

.form-text:hover {
  color: #ffa843;
  border-color: #ff9a23;
  background-color: #f3f3f3;
  background: #f3f3f3 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #ffffff));
  background: #f3f3f3 -webkit-linear-gradient(top, #e8e8e8, #ffffff);
  background: #f3f3f3 -moz-linear-gradient(top, #e8e8e8, #ffffff);
  background: #f3f3f3 -o-linear-gradient(top, #e8e8e8, #ffffff);
  background: #f3f3f3 linear-gradient(top, #e8e8e8, #ffffff);
  text-shadow: white 0 1px 0px;
}

.form-text:focus {
  color: black;
  border-color: #8c8c8c #999999 #8c8c8c;
  background-color: #fafafa;
  background: #fafafa -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background: #fafafa -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background: #fafafa -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: #fafafa -o-linear-gradient(top, #ffffff, #f5f5f5);
  background: #fafafa linear-gradient(top, #ffffff, #f5f5f5);
  text-shadow: white 0 1px 0px;
  outline: 0 none;
}

.ui-state-confirmation,
.ui-widget-content .ui-state-confirmation,
.ui-widget-header .ui-state-confirmation, .ui-notification .ui-state-confirmation .ui-button, .ui-notification .ui-state-confirmation .ui-button:hover {
  color: white;
  border: 1px solid #4c631a;
  text-shadow: #547213 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #9ecf34 inset;
  -moz-box-shadow: 0 0 0px 1px #9ecf34 inset;
  box-shadow: 0 0 0px 1px #9ecf34 inset;
}

.ui-state-confirmation,
.ui-widget-content .ui-state-confirmation,
.ui-widget-header .ui-state-confirmation, .ui-notification .ui-state-confirmation .ui-button {
  background-color: #8ebb2d;
  background: #8ebb2d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9ecf34), color-stop(100%, #7ea727));
  background: #8ebb2d -webkit-linear-gradient(top, #9ecf34, #7ea727);
  background: #8ebb2d -moz-linear-gradient(top, #9ecf34, #7ea727);
  background: #8ebb2d -o-linear-gradient(top, #9ecf34, #7ea727);
  background: #8ebb2d linear-gradient(top, #9ecf34, #7ea727);
}

.ui-notification .ui-state-confirmation .ui-button:hover {
  background-color: #8ebb2d;
  background: #8ebb2d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ea727), color-stop(100%, #9ecf34));
  background: #8ebb2d -webkit-linear-gradient(top, #7ea727, #9ecf34);
  background: #8ebb2d -moz-linear-gradient(top, #7ea727, #9ecf34);
  background: #8ebb2d -o-linear-gradient(top, #7ea727, #9ecf34);
  background: #8ebb2d linear-gradient(top, #7ea727, #9ecf34);
}

.ui-state-information,
.ui-widget-content .ui-state-information,
.ui-widget-header .ui-state-information, .ui-notification .ui-state-information .ui-button, .ui-notification .ui-state-information .ui-button:hover {
  color: white;
  border: 1px solid #276a89;
  text-shadow: #216381 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #5fb1d7 inset;
  -moz-box-shadow: 0 0 0px 1px #5fb1d7 inset;
  box-shadow: 0 0 0px 1px #5fb1d7 inset;
}

.ui-state-information,
.ui-widget-content .ui-state-information,
.ui-widget-header .ui-state-information, .ui-notification .ui-state-information .ui-button {
  background-color: #49a6d1;
  background: #49a6d1 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fb1d7), color-stop(100%, #349ccc));
  background: #49a6d1 -webkit-linear-gradient(top, #5fb1d7, #349ccc);
  background: #49a6d1 -moz-linear-gradient(top, #5fb1d7, #349ccc);
  background: #49a6d1 -o-linear-gradient(top, #5fb1d7, #349ccc);
  background: #49a6d1 linear-gradient(top, #5fb1d7, #349ccc);
}

.ui-notification .ui-state-information .ui-button:hover {
  background-color: #49a6d1;
  background: #49a6d1 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #349ccc), color-stop(100%, #5fb1d7));
  background: #49a6d1 -webkit-linear-gradient(top, #349ccc, #5fb1d7);
  background: #49a6d1 -moz-linear-gradient(top, #349ccc, #5fb1d7);
  background: #49a6d1 -o-linear-gradient(top, #349ccc, #5fb1d7);
  background: #49a6d1 linear-gradient(top, #349ccc, #5fb1d7);
}

.ui-state-warning,
.ui-widget-content .ui-state-warning,
.ui-widget-header .ui-state-warning, .ui-notification .ui-state-warning .ui-button, .ui-notification .ui-state-warning .ui-button:hover {
  color: white;
  border: 1px solid #ba7b16;
  text-shadow: #a9721b 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #f0bb66 inset;
  -moz-box-shadow: 0 0 0px 1px #f0bb66 inset;
  box-shadow: 0 0 0px 1px #f0bb66 inset;
}

.ui-state-warning,
.ui-widget-content .ui-state-warning,
.ui-widget-header .ui-state-warning, .ui-notification .ui-state-warning .ui-button {
  background-color: #eeb04d;
  background: #eeb04d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0bb66), color-stop(100%, #eca535));
  background: #eeb04d -webkit-linear-gradient(top, #f0bb66, #eca535);
  background: #eeb04d -moz-linear-gradient(top, #f0bb66, #eca535);
  background: #eeb04d -o-linear-gradient(top, #f0bb66, #eca535);
  background: #eeb04d linear-gradient(top, #f0bb66, #eca535);
}

.ui-notification .ui-state-warning .ui-button:hover {
  background-color: #eeb04d;
  background: #eeb04d -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eca535), color-stop(100%, #f0bb66));
  background: #eeb04d -webkit-linear-gradient(top, #eca535, #f0bb66);
  background: #eeb04d -moz-linear-gradient(top, #eca535, #f0bb66);
  background: #eeb04d -o-linear-gradient(top, #eca535, #f0bb66);
  background: #eeb04d linear-gradient(top, #eca535, #f0bb66);
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error, .ui-notification .ui-state-error .ui-button, .form-error, .ui-notification .ui-state-error .ui-button:hover {
  color: white;
  border: 1px solid #9b1b1b;
  text-shadow: #8a1f1f 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #e65656 inset;
  -moz-box-shadow: 0 0 0px 1px #e65656 inset;
  box-shadow: 0 0 0px 1px #e65656 inset;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error, .ui-notification .ui-state-error .ui-button, .form-error {
  background-color: #e23e3e;
  background: #e23e3e -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e65656), color-stop(100%, #df2727));
  background: #e23e3e -webkit-linear-gradient(top, #e65656, #df2727);
  background: #e23e3e -moz-linear-gradient(top, #e65656, #df2727);
  background: #e23e3e -o-linear-gradient(top, #e65656, #df2727);
  background: #e23e3e linear-gradient(top, #e65656, #df2727);
}

.ui-notification .ui-state-error .ui-button:hover {
  background-color: #e23e3e;
  background: #e23e3e -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df2727), color-stop(100%, #e65656));
  background: #e23e3e -webkit-linear-gradient(top, #df2727, #e65656);
  background: #e23e3e -moz-linear-gradient(top, #df2727, #e65656);
  background: #e23e3e -o-linear-gradient(top, #df2727, #e65656);
  background: #e23e3e linear-gradient(top, #df2727, #e65656);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker table .ui-state-highlight,
.ui-datepicker table .ui-widget-content .ui-state-highlight,
.ui-datepicker table .ui-widget-header .ui-state-highlight, .ui-notification .ui-state-highlight .ui-button, .ui-notification .ui-state-highlight .ui-button:hover, .ui-sortable .ui-state-highlight:hover {
  color: #333333;
  border: 1px solid #5eb5f0;
  text-shadow: #eef8fe 0 1px 0px;
  -webkit-box-shadow: 0 0 0px 1px #d8edfc inset;
  -moz-box-shadow: 0 0 0px 1px #d8edfc inset;
  box-shadow: 0 0 0px 1px #d8edfc inset;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker table .ui-state-highlight,
.ui-datepicker table .ui-widget-content .ui-state-highlight,
.ui-datepicker table .ui-widget-header .ui-state-highlight, .ui-notification .ui-state-highlight .ui-button {
  background-color: #bfe2fa;
  background: #bfe2fa -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d8edfc), color-stop(100%, #a6d7f9));
  background: #bfe2fa -webkit-linear-gradient(top, #d8edfc, #a6d7f9);
  background: #bfe2fa -moz-linear-gradient(top, #d8edfc, #a6d7f9);
  background: #bfe2fa -o-linear-gradient(top, #d8edfc, #a6d7f9);
  background: #bfe2fa linear-gradient(top, #d8edfc, #a6d7f9);
}

.ui-notification .ui-state-highlight .ui-button:hover, .ui-sortable .ui-state-highlight:hover {
  background-color: #bfe2fa;
  background: #bfe2fa -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6d7f9), color-stop(100%, #d8edfc));
  background: #bfe2fa -webkit-linear-gradient(top, #a6d7f9, #d8edfc);
  background: #bfe2fa -moz-linear-gradient(top, #a6d7f9, #d8edfc);
  background: #bfe2fa -o-linear-gradient(top, #a6d7f9, #d8edfc);
  background: #bfe2fa linear-gradient(top, #a6d7f9, #d8edfc);
}

/*
 * jQuery UI CSS Framework @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  position: absolute;
  left: -9999px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-helper-clearfix {
  display: inline-block;
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
  height: 1%;
}

.ui-helper-clearfix {
  display: block;
}

/* end clearfix */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-overlay .ui-widget-overlay {
  position: absolute;
}

/* ====================
Base Style
====================*/
/* Component containers */
.ui-widget {
  font-family: "Adelle", Verdana, sans-serif;
  font-size: 13.2px;
}
.ui-widget a {
  color: inherit;
}
.ui-widget.ui-button, .ui-widget .ui-widget {
  font-size: 12px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: inherit;
  font-size: 12px;
}

.ui-widget-content {
  border-color: 1px solid #c1c1c1;
  background: #f7f7f7;
  text-shadow: rgba(255, 255, 255, 0.85) 0 1px 0px;
}

.ui-widget-header {
  display: block;
  border-style: solid;
  border-width: 1px;
}

/* Interaction states */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border-style: solid;
  border-width: 1px;
}

.ui-state-default a, .ui-state-hover a, .ui-state-active a {
  color: inherit;
  text-decoration: none;
}

.ui-widget:active {
  outline: none;
}

/* Interaction cues */
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: inherit;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: inherit;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: inherit;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 0.4;
  filter: Alpha(Opacity=40);
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
  z-index: 3000;
  background: #222;
  opacity: 0.5;
  filter: Alpha(Opacity=50);
}

.ui-widget-shadow {
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.ui-overlay-active > *:not(.ui-dialog),
.ui-overlay-effects,
body > *:not(.ui-dialog)! ~ .ui-widget-overlay {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

/* ====================
Accordian Layout
====================*/
.ui-accordion {
  width: 100%;
}
.ui-accordion .ui-accordion-header {
  position: relative;
  zoom: 1;
  font-size: 12px;
  text-transform: none;
}
.ui-accordion .ui-accordion-header a {
  display: block;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  top: 50%;
}
.ui-accordion .ui-accordion-content {
  position: relative;
  overflow: hidden;
  display: none;
  zoom: 1;
}
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}
.ui-accordion .ui-accordion-content-active {
  display: block;
}

/* ====================
Accordian Style
====================*/
.ui-accordion .ui-accordion-header {
  cursor: pointer;
  border: 1px solid #c1c1c1;
  line-height: 16px;
  margin-top: 5px;
}
.ui-accordion .ui-accordion-header:first-child {
  margin-top: 0;
}
.ui-accordion .ui-accordion-header:last-child {
  margin-bottom: 16px;
}
.ui-accordion .ui-accordion-header a {
  padding: 8px 8px 8px 34px;
  color: inherit;
  height: 16px;
  text-shadow: rgba(255, 255, 255, 0.85) 0 1px 0px;
}
.ui-accordion .ui-accordion-header .ui-icon {
  left: 7px;
  margin-top: -9px;
  width: 16px;
  height: 16px;
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
}
.ui-accordion .ui-accordion-content {
  border-width: 0;
  background: none;
  padding: 16px 35.2px;
  border-top: 0;
  margin-top: 0;
  top: 1px;
  margin-bottom: 0;
}
.ui-accordion .ui-accordion-header-active {
  border-width: 0;
}
.ui-accordion .ui-accordion-header,
.ui-accordion .ui-accordion-header.ui-state-active,
.ui-accordion .ui-accordion-header.ui-state-hover,
.ui-accordion .ui-accordion-header.ui-state-focus {
  font-size: 13.2px;
}
.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon {
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  border-color: #a8a8a8;
}
.ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.85) inset;
}

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 34px;
}

/* ====================
Autocomplete Layout
====================*/
.ui-autocomplete {
  position: absolute;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
.ui-menu {
  display: block;
  float: left;
}
.ui-menu .ui-menu-item {
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
.ui-menu .ui-menu-item a {
  display: block;
  zoom: 1;
}

/* ====================
Autocomplete Style
====================*/
.ui-autocomplete {
  cursor: default;
}

.ui-menu {
  list-style: none;
  padding: 8px;
  margin: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.ui-menu .ui-menu {
  margin-top: -3px;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  padding: 9.6px 19.2px;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  padding: 9.6px 19.2px;
  font-weight: normal;
  margin: -1px;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0px;
}

.ui-autocomplete-input {
  padding: 8px 9.6px;
}

.ui-button {
  margin-right: 0.8px;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
  text-transform: none;
}
.ui-button .ui-button-text {
  color: inherit;
  text-shadow: inherit;
}

.ui-button {
  position: relative;
  padding: 0;
  zoom: 1;
  overflow: visible;
  /* the overflow property removes extra width in IE */
}

.ui-button-icon-only {
  width: 37px;
  height: 37px;
}

/* to make room for the icon, a width needs to be set here */
/*button text element */
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: 10px 16px 10px 33.6px;
}

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: 10px 33.6px 10px 16px;
}

.ui-button-text-icons .ui-button-text {
  padding-left: 33.6px;
  padding-right: 33.6px;
}

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: 6.4px 11.2px;
  cursor: pointer;
}

/*button icon element(s) */
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: 8px;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: 8px;
}

.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: 8px;
}

.ui-button-icon-only {
  padding: 8px;
  position: relative;
}
.ui-button-icon-only .ui-icon {
  width: 16px;
  padding-top: 16px;
}

/* ====================
Button Layout
====================*/
/*button sets*/
.ui-buttonset {
  margin-right: 8px;
  position: relative;
  vertical-align: top;
  margin-right: 7px;
  display: inline-block;
}
.ui-buttonset > .ui-button,
.ui-buttonset .ui-selectmenu-button {
  margin: 0 -1px 0 0;
  vertical-align: top;
  display: block;
  float: left;
}
.ui-buttonset > .ui-button:first-child,
.ui-buttonset .ui-selectmenu-button:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ui-buttonset > .ui-button:last-child,
.ui-buttonset .ui-selectmenu-button:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-draggable {
  position: relative;
}

.ui-menu {
  margin-right: -100%;
  z-index: 100;
}
.ui-menu a {
  margin: 1px;
}
.ui-menu .ui-state-focus {
  margin: 0;
}

/*button text element */
.ui-button .ui-button-text {
  display: block;
}

.ui-button-icon-only .ui-button-text {
  display: none;
}

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* workarounds */
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* reset extra padding in Firefox */
/* ====================
Datepicker Layout
====================*/
.ui-datepicker {
  padding: 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  display: block;
  overflow: hidden;
  height: 0;
  top: 50%;
  margin-top: -13px;
  left: 4px;
}
.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
  overflow: hidden;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  margin-left: -8px;
  margin-top: -8px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
.ui-datepicker .ui-datepicker-next {
  left: auto;
  right: 4px;
}
.ui-datepicker .ui-datepicker-title select {
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 240px;
}
.ui-datepicker td {
  padding: 0;
}
.ui-datepicker td span, .ui-datepicker .ui-datepicker td a {
  display: block;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker.ui-datepicker-multi.ui-datepicker-multi-2 {
  width: 512px;
}
.ui-datepicker.ui-datepicker-multi.ui-datepicker-multi-3 {
  width: 768px;
}
.ui-datepicker.ui-datepicker-multi.ui-datepicker-multi-4 {
  width: 1024px;
}

/* with multiple calendars */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 240px;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.33%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2.4px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 2.4px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2.4px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 2.4px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/
}

/* ====================
Datepicker Style
====================*/
.ui-datepicker {
  width: auto;
  padding: 0;
  -webkit-box-shadow: 0 0 0px 1px white inset, 0 3px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0px 1px white inset, 0 3px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0px 1px white inset, 0 3px 7px rgba(0, 0, 0, 0.5);
}
.ui-datepicker .ui-datepicker-header {
  padding: 8px 3.2px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0 none;
  border-bottom: 1px solid #b3b3b3;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 24px;
  padding: 24px 0 0;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}
.ui-datepicker table {
  border-spacing: 4px;
  font-size: 12px;
  border-collapse: separate;
  margin: 0 8px 8px;
}
.ui-datepicker th {
  padding: 6.4px 4.8px;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
}
.ui-datepicker td span, .ui-datepicker td a {
  padding: 4.8px 7.2px;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  margin: 0;
  padding: 0 4px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  margin: 8px;
  cursor: pointer;
  font-size: 12px;
  padding: 6.4px 9.6px 6.4px 9.6px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 36.8px;
  line-height: 1.8;
  text-align: center;
  font-weight: normal;
  color: #333333;
  text-shadow: white 0 1px 0px;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 12px;
}

.ui-datepicker-calendar a {
  display: block;
}

/* with multiple calendars */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

/* RTL support */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* ====================
Dialog Layout
====================*/
.ui-dialog {
  position: absolute;
  padding: 0;
  overflow: hidden;
  z-index: 4000;
}
.ui-dialog .ui-dialog-title {
  float: left;
  position: relative;
}
.ui-dialog .ui-dialog-titlebar-close {
  display: block;
  overflow: hidden;
  position: relative;
  top: auto;
  right: auto;
  float: right;
}
.ui-dialog .ui-dialog-titlebar-close .ui-icon {
  display: block;
}
.ui-dialog .ui-widget-content {
  position: relative;
  overflow: auto;
  zoom: 1;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ui-dialog .ui-dialog-buttonpane {
  overflow: hidden;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-titlebar {
  position: relative;
}
.ui-dialog .ui-resizable-se {
  width: 16px;
  height: 16px;
  display: none;
}
.ui-dialog .ui-icon-grip-diagonal-se {
  display: none;
}

/* ====================
Dialog Style
====================*/
.ui-dialog {
  min-width: 300px;
  outline: 10px solid rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.85);
}
.ui-dialog .ui-dialog-titlebar-close {
  margin: -4px -6px;
  padding: 4px;
  width: 37px;
  height: 37px;
}
.ui-dialog .ui-dialog-content {
  border-width: 0;
  padding: 16px;
}
.ui-dialog .ui-dialog-content .ui-tabs {
  border: 0;
}
.ui-dialog .ui-dialog-content hr {
  margin: 16px -16px 16px -16px;
  border: 0;
  border-top: 1px solid #c1c1c1 !important;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  margin: 8px 0 0 0;
  padding: 7.2px;
  background: #f7f7f8;
}
.ui-dialog .ui-dialog-buttonpane button {
  margin: 8.8px 8.8px 7.2px 0;
  cursor: pointer;
  font-weight: normal;
}
.ui-dialog .ui-dialog-titlebar {
  padding: 10px 13px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  font-weight: normal;
  border-bottom: 1px solid #d9d9d9;
  margin-left: -1px;
  margin-right: -1px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 16.0px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
  height: 0;
  overflow: hidden;
  padding-top: 16px;
}
.ui-dialog .ui-resizable-se {
  right: 1px;
  bottom: 1px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-overlay {
  z-index: 0;
}
.ui-overlay div {
  z-index: 10;
}
.ui-overlay .ui-widget-overlay {
  z-index: 0;
}

/* ====================
Notification Layout
====================*/
.ui-notification {
  position: relative;
  margin-bottom: 16px;
}
.ui-notification .ui-state-confirmation, .ui-notification .ui-state-information, .ui-notification .ui-state-error, .ui-notification .ui-state-warning {
  padding-right: 32px;
}
.ui-notification .ui-state-confirmation p, .ui-notification .ui-state-information p, .ui-notification .ui-state-error p, .ui-notification .ui-state-warning p {
  margin: 0 !important;
  text-shadow: inherit;
}
.ui-notification .ui-state-confirmation .ui-icon, .ui-notification .ui-state-information .ui-icon, .ui-notification .ui-state-error .ui-icon, .ui-notification .ui-state-warning .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 8px;
}
.ui-notification .ui-button {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 6px;
  top: 6px;
}

/* ====================
Notification Style
====================*/
.ui-notification li {
  padding-left: 0;
  font-size: inherit;
}
.ui-notification ul {
  padding-left: 30px;
}
.ui-notification p, .ui-notification ul {
  padding: 8px;
  font-size: 13.2px !important;
  padding-left: 32px;
  margin-bottom: 0;
  text-transform: none;
}

/* ====================
Progressbar Layout
====================*/
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* ====================
Progressbar Style
====================*/
.ui-progressbar {
  height: 20.8px;
  margin: 5px 0;
}
.ui-progressbar .ui-widget-header {
  font-weight: bold;
  text-align: center;
}

/* ====================
Resizable Layout
====================*/
.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* ====================
Resizable Style
====================*/
.ui-resizable-handle {
  font-size: 0.1px;
}

.ui-resizable-n {
  cursor: n-resize;
}

.ui-resizable-s {
  cursor: s-resize;
}

.ui-resizable-e {
  cursor: e-resize;
}

.ui-resizable-w {
  cursor: w-resize;
}

.ui-resizable-se {
  cursor: se-resize;
}

.ui-resizable-sw {
  cursor: sw-resize;
}

.ui-resizable-nw {
  cursor: nw-resize;
}

.ui-resizable-ne {
  cursor: ne-resize;
}

/* ====================
Selectable Layout
====================*/
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
}

/* ====================
Selectable Style
====================*/
.ui-selectable-helper {
  border: 1px dotted black;
}

/* ====================
Slider Layout
====================*/
.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
}
.ui-slider .ui-widget-header {
  margin: -1px;
}

.ui-slider-horizontal {
  height: 9.6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* ====================
Slider Style
====================*/
.ui-slider {
  text-align: left;
}
.ui-slider .ui-slider-handle {
  width: 19.2px;
  height: 19.2px;
  cursor: pointer;
}
.ui-slider .ui-slider-range {
  font-size: 11.2px;
  border: 0;
  background-position: 0 0;
}
.ui-slider .ui-widget-header {
  color: white;
  border: 1px solid #bc6500;
  -webkit-box-shadow: 0 0 0px 1px #ffa843 inset;
  -moz-box-shadow: 0 0 0px 1px #ffa843 inset;
  box-shadow: 0 0 0px 1px #ffa843 inset;
  background-color: #ff9c28;
  background: #ff9c28 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa843), color-stop(100%, #ff900d));
  background: #ff9c28 -webkit-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 -moz-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 -o-linear-gradient(top, #ffa843, #ff900d);
  background: #ff9c28 linear-gradient(top, #ffa843, #ff900d);
}

.ui-slider-horizontal {
  height: 9.6px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-left: -11.1px;
  margin-top: -10.6px;
  outline: none;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle + .ui-slider-handle {
  margin-left: -10.1px;
}
.ui-slider-horizontal .ui-widget-header {
  font-weight: bold;
}

.ui-slider-vertical {
  width: 9.6px;
  height: 100px;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(left, #ffffff, #eaeaea);
  background: -moz-linear-gradient(left, #ffffff, #eaeaea);
  background: -o-linear-gradient(left, #ffffff, #eaeaea);
  background: linear-gradient(left, #ffffff, #eaeaea);
}
.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -10.6px;
  margin-bottom: -11.1px;
}
.ui-slider-vertical .ui-widget-header {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffa843), color-stop(100%, #ff900d));
  background: -webkit-linear-gradient(left, #ffa843, #ff900d);
  background: -moz-linear-gradient(left, #ffa843, #ff900d);
  background: -o-linear-gradient(left, #ffa843, #ff900d);
  background: linear-gradient(left, #ffa843, #ff900d);
}
.ui-slider-vertical .ui-widget-header {
  font-weight: bold;
}

/* ====================
Tabs Layout
====================*/
.ui-tabs {
  position: relative;
  padding: 0;
  zoom: 1;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
}
.ui-tabs .ui-tabs-nav li {
  float: left;
  position: relative;
  top: 0;
  margin: 0 -1px 0 0;
  padding: 0;
  white-space: nowrap;
  z-index: 0;
  position: relative;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  z-index: 50;
  margin-bottom: -1px !important;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover {
  z-index: 55;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  z-index: 0;
  position: relative;
}
.ui-tabs .ui-tabs-hide {
  display: none;
}

/* ====================
Tabs Style
====================*/
.ui-tabs {
  background: none;
  border: none;
}
.ui-tabs .ui-tabs-nav {
  background: none;
  border: 0 none transparent;
  border-bottom: 1px solid #c1c1c1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  font-size: 13.2px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
}
.ui-tabs .ui-tabs-nav li a {
  padding: 6.4px 16px 4.8px;
  text-decoration: none;
  color: inherit;
  outline: none;
  text-transform: none;
  font-size: inherit;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
  border-bottom: 1px solid white!important;
  margin-bottom: -1px;
}
.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li.ui-state-hover {
  border-bottom: 0 none;
}
.ui-tabs .ui-tabs-panel {
  border: 1px solid #c1c1c1;
  border-top: 0 none;
  padding: 16px 19.2px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 12px;
}
.ui-tabs .ui-widget-header {
  color: #333333;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

/* ====================
Sortable Layout
====================*/
.ui-sortable li {
  padding: 10px 16px 10px 8px;
  cursor: pointer;
  margin-bottom: -1px;
}
.ui-sortable li .ui-icon {
  margin: 4px 2px -4px -2px;
}
.ui-sortable li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.ui-sortable li:last-child {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.standard-sortable .ui-state-highlight {
  height: 23px;
}

/* ====================
Sortable Style
=====================*/
/* ====================
Form Style
====================*/
.form-text {
  margin: 0;
}

.form-label {
  font-size: 12px;
  padding: 8px 0 0;
}

.form-label-text, .form-label-textarea {
  display: block;
}

.form-button {
  font-size: 12px;
  font-weight: normal;
}

.form-textfield,
.form-text-button {
  height: auto;
}

.form-text-button {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-field {
  margin-bottom: 16px;
}

.form-text,
.form-error {
  width: 100%;
  font-size: 12px;
  font-family: "Adelle", Verdana, sans-serif;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.form-error {
  padding: 8px 9.6px;
}

.form-field-error .form-text {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.form-global-error {
  margin-bottom: 16px;
}

.form-check {
  float: left;
  margin: 3px 3px 0 0;
}

.form-text-button-table,
.form-text-button-table td,
.form-text-button-table tr {
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.form-text-button-table .form-button {
  margin-right: -1px;
}

.form-field-error .form-text {
  border: 1px solid #9b1b1b;
  color: #9b1b1b;
}

.form-textarea {
  display: block;
}

.contact .form-field-text,
.contact .form-field-textarea {
  max-width: 400px;
}

.form-field-select-menu label {
  display: block;
}

.form-text-button-table td:last-child .form-text-button-button {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ui-icon {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("theme-icons.png");
}

.ui-state-hover .ui-icon {
  background-image: url("theme-icons-hover.png");
}
