

.ui-icon-add {
  background-position: 0 -5376px;
}

.ui-icon-alert {
  background-position: 0 -2320px;
}

.ui-icon-align-c {
  background-position: 0 -5328px;
}

.ui-icon-align-center {
  background-position: 0 -5344px;
}

.ui-icon-align-j {
  background-position: 0 -5568px;
}

.ui-icon-align-justify {
  background-position: 0 -5584px;
}

.ui-icon-align-l {
  background-position: 0 -5264px;
}

.ui-icon-align-left {
  background-position: 0 -5280px;
}

.ui-icon-align-r {
  background-position: 0 -5472px;
}

.ui-icon-align-right {
  background-position: 0 -5488px;
}

.ui-icon-app-window-black {
  background-position: 0 -4944px;
}

.ui-icon-app-window-browser {
  background-position: 0 -2512px;
}

.ui-icon-app-window-cross {
  background-position: 0 -2064px;
}

.ui-icon-app-window-shell {
  background-position: 0 -3696px;
}

.ui-icon-app-window {
  background-position: 0 -5216px;
}

.ui-icon-arrow-1-e {
  background-position: 0 -4688px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -4544px;
}

.ui-icon-arrow-1-ne {
  background-position: 0 -3184px;
}

.ui-icon-arrow-1-nw {
  background-position: 0 -3648px;
}

.ui-icon-arrow-1-s {
  background-position: 0 -4592px;
}

.ui-icon-arrow-1-se {
  background-position: 0 -3280px;
}

.ui-icon-arrow-1-sw {
  background-position: 0 -3232px;
}

.ui-icon-arrow-1-w {
  background-position: 0 -4784px;
}

.ui-icon-arrow-2-e-w {
  background-position: 0 -4976px;
}

.ui-icon-arrow-2-n-s {
  background-position: 0 -4400px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: 0 -3200px;
}

.ui-icon-arrow-2-se-nw {
  background-position: 0 -3216px;
}

.ui-icon-arrow-4-diag {
  background-position: 0 -2048px;
}

.ui-icon-arrow-4 {
  background-position: 0 -1136px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: 0 -704px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: 0 -720px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: 0 -736px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: 0 -752px;
}

.ui-icon-arrowreturn-1-e {
  background-position: 0 -4704px;
}

.ui-icon-arrowreturn-1-n {
  background-position: 0 -4560px;
}

.ui-icon-arrowreturn-1-s {
  background-position: 0 -4608px;
}

.ui-icon-arrowreturn-1-w {
  background-position: 0 -4800px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: 0 -3920px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: 0 -3728px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: 0 -3824px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -3840px;
}

.ui-icon-arrowstop-1-e {
  background-position: 0 -4848px;
}

.ui-icon-arrowstop-1-n {
  background-position: 0 -4720px;
}

.ui-icon-arrowstop-1-s {
  background-position: 0 -4656px;
}

.ui-icon-arrowstop-1-w {
  background-position: 0 -4752px;
}

.ui-icon-arrowthick-1-e {
  background-position: 0 -3936px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -3744px;
}

.ui-icon-arrowthick-1-ne {
  background-position: 0 -3456px;
}

.ui-icon-arrowthick-1-nw {
  background-position: 0 -3504px;
}

.ui-icon-arrowthick-1-s {
  background-position: 0 -3856px;
}

.ui-icon-arrowthick-1-se {
  background-position: 0 -3360px;
}

.ui-icon-arrowthick-1-sw {
  background-position: 0 -3152px;
}

.ui-icon-arrowthick-1-w {
  background-position: 0 -3872px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: 0 -3408px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: 0 -2736px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: 0 -3520px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: 0 -3552px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: 0 -3712px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: 0 -3472px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: 0 -3312px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: 0 -3664px;
}

.ui-icon-attach {
  background-position: 0 -2432px;
}

.ui-icon-award {
  background-position: 0 -1248px;
}

.ui-icon-battery-0 {
  background-position: 0 -5360px;
}

.ui-icon-battery-1 {
  background-position: 0 -5104px;
}

.ui-icon-battery-2 {
  background-position: 0 -5040px;
}

.ui-icon-battery-3 {
  background-position: 0 -4960px;
}

.ui-icon-battery-4 {
  background-position: 0 -5072px;
}

.ui-icon-bell {
  background-position: 0 -1872px;
}

.ui-icon-bold {
  background-position: 0 -2656px;
}

.ui-icon-book {
  background-position: 0 -4912px;
}

.ui-icon-bookmark {
  background-position: 0 -3968px;
}

.ui-icon-box {
  background-position: 0 -1584px;
}

.ui-icon-bug {
  background-position: 0 -464px;
}

.ui-icon-bullet {
  background-position: 0 -5088px;
}

.ui-icon-calculator {
  background-position: 0 -4064px;
}

.ui-icon-calendar {
  background-position: 0 -3008px;
}

.ui-icon-camera {
  background-position: 0 -3568px;
}

.ui-icon-cancel {
  background-position: 0 -112px;
}

.ui-icon-carat-1-e {
  background-position: 0 -2192px;
}

.ui-icon-carat-1-n {
  background-position: 0 -2608px;
}

.ui-icon-carat-1-ne {
  background-position: 0 -5504px;
}

.ui-icon-carat-1-nw {
  background-position: 0 -5616px;
}

.ui-icon-carat-1-s {
  background-position: 0 -2528px;
}

.ui-icon-carat-1-se {
  background-position: 0 -5552px;
}

.ui-icon-carat-1-sw {
  background-position: 0 -5664px;
}

.ui-icon-carat-1-w {
  background-position: 0 -2144px;
}

.ui-icon-carat-2-e-w {
  background-position: 0 -896px;
}

.ui-icon-carat-2-n-s {
  background-position: 0 -976px;
}

.ui-icon-cart {
  background-position: 0 -2240px;
}

.ui-icon-chart-bar {
  background-position: 0 -4208px;
}

.ui-icon-chart-line-1 {
  background-position: 0 -1760px;
}

.ui-icon-chart-line-2 {
  background-position: 0 -1168px;
}

.ui-icon-chart-up {
  background-position: 0 -1184px;
}

.ui-icon-check-all {
  background-position: 0 -944px;
}

.ui-icon-check-box {
  background-position: 0 -4224px;
}

.ui-icon-check-none {
  background-position: 0 -960px;
}

.ui-icon-check {
  background-position: 0 -2368px;
}

.ui-icon-circle-arrow-e {
  background-position: 0 -1536px;
}

.ui-icon-circle-arrow-n {
  background-position: 0 -1696px;
}

.ui-icon-circle-arrow-s {
  background-position: 0 -1792px;
}

.ui-icon-circle-arrow-w {
  background-position: 0 -1616px;
}

.ui-icon-circle-check {
  background-position: 0 -1200px;
}

.ui-icon-circle-close {
  background-position: 0 -768px;
}

.ui-icon-circle-minus {
  background-position: 0 -2768px;
}

.ui-icon-circle-plus {
  background-position: 0 -1904px;
}

.ui-icon-circle-triangle-e {
  background-position: 0 -1264px;
}

.ui-icon-circle-triangle-n {
  background-position: 0 -1552px;
}

.ui-icon-circle-triangle-s {
  background-position: 0 -1648px;
}

.ui-icon-circle-triangle-w {
  background-position: 0 -1296px;
}

.ui-icon-circle-zoomin {
  background-position: 0 -96px;
}

.ui-icon-circle-zoomout {
  background-position: 0 -192px;
}

.ui-icon-circlesmall-close {
  background-position: 0 -3424px;
}

.ui-icon-circlesmall-minus {
  background-position: 0 -3808px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -3616px;
}

.ui-icon-clean {
  background-position: 0 -576px;
}

.ui-icon-clipboard {
  background-position: 0 -3024px;
}

.ui-icon-clock {
  background-position: 0 -1824px;
}

.ui-icon-close {
  background-position: 0 -4160px;
}

.ui-icon-closethick {
  background-position: 0 -1008px;
}

.ui-icon-cloud-rain {
  background-position: 0 -1488px;
}

.ui-icon-cloud {
  background-position: 0 -4272px;
}

.ui-icon-cms {
  background-position: 0 -272px;
}

.ui-icon-coffee {
  background-position: 0 -3248px;
}

.ui-icon-comment {
  background-position: 0 -3760px;
}

.ui-icon-compass {
  background-position: 0 -1472px;
}

.ui-icon-computer {
  background-position: 0 -5120px;
}

.ui-icon-confirm {
  background-position: 0 -2384px;
}

.ui-icon-confirmation {
  background-position: 0 -1216px;
}

.ui-icon-contact {
  background-position: 0 -3168px;
}

.ui-icon-copy {
  background-position: 0 -3632px;
}

.ui-icon-csv {
  background-position: 0 -1808px;
}

.ui-icon-currency-dollar {
  background-position: 0 -1440px;
}

.ui-icon-currency-euro {
  background-position: 0 -1936px;
}

.ui-icon-currency-pound {
  background-position: 0 -2864px;
}

.ui-icon-currency-yen {
  background-position: 0 -2256px;
}

.ui-icon-dashboard {
  background-position: 0 -512px;
}

.ui-icon-db {
  background-position: 0 -1152px;
}

.ui-icon-delete {
  background-position: 0 -4176px;
}

.ui-icon-disk {
  background-position: 0 -4464px;
}

.ui-icon-dislike {
  background-position: 0 -3136px;
}

.ui-icon-document-add {
  background-position: 0 -4736px;
}

.ui-icon-document-b {
  background-position: 0 -4432px;
}

.ui-icon-document-delete {
  background-position: 0 -2160px;
}

.ui-icon-document-edit {
  background-position: 0 -288px;
}

.ui-icon-document-export {
  background-position: 0 -2032px;
}

.ui-icon-document-import {
  background-position: 0 -2016px;
}

.ui-icon-document-minus {
  background-position: 0 -5168px;
}

.ui-icon-document-text {
  background-position: 0 -3584px;
}

.ui-icon-document {
  background-position: 0 -4672px;
}

.ui-icon-download {
  background-position: 0 -2336px;
}

.ui-icon-eject {
  background-position: 0 -3600px;
}

.ui-icon-email {
  background-position: 0 -2208px;
}

.ui-icon-emote-happy {
  background-position: 0 -128px;
}

.ui-icon-emote-sad {
  background-position: 0 -160px;
}

.ui-icon-error {
  background-position: 0 -1024px;
}

.ui-icon-expand {
  background-position: 0 -2960px;
}

.ui-icon-export {
  background-position: 0 -2080px;
}

.ui-icon-extlink {
  background-position: 0 -1680px;
}

.ui-icon-eye-closed {
  background-position: 0 -368px;
}

.ui-icon-eye-open {
  background-position: 0 -528px;
}

.ui-icon-facebook {
  background-position: 0 -4384px;
}

.ui-icon-fill {
  background-position: 0 -240px;
}

.ui-icon-filter {
  background-position: 0 -2896px;
}

.ui-icon-fire {
  background-position: 0 -912px;
}

.ui-icon-flag {
  background-position: 0 -1504px;
}

.ui-icon-float-left {
  background-position: 0 -4864px;
}

.ui-icon-float-none {
  background-position: 0 -5536px;
}

.ui-icon-float-right {
  background-position: 0 -4768px;
}

.ui-icon-folder-add {
  background-position: 0 -4416px;
}

.ui-icon-folder-arrow {
  background-position: 0 -3952px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -5152px;
}

.ui-icon-folder-contacts {
  background-position: 0 -3488px;
}

.ui-icon-folder-delete {
  background-position: 0 -2704px;
}

.ui-icon-folder-minus {
  background-position: 0 -4880px;
}

.ui-icon-folder-open {
  background-position: 0 -3680px;
}

.ui-icon-font-size-dec {
  background-position: 0 -1104px;
}

.ui-icon-font-size-inc {
  background-position: 0 -672px;
}

.ui-icon-font-size {
  background-position: 0 -416px;
}

.ui-icon-font-strikethrough {
  background-position: 0 -1968px;
}

.ui-icon-font-underline {
  background-position: 0 -3328px;
}

.ui-icon-freight {
  background-position: 0 -3376px;
}

.ui-icon-fullscreen {
  background-position: 0 -2976px;
}

.ui-icon-game-pad {
  background-position: 0 -1952px;
}

.ui-icon-gear {
  background-position: 0 -48px;
}

.ui-icon-glasses {
  background-position: 0 -2400px;
}

.ui-icon-globe-1 {
  background-position: 0 -16px;
}

.ui-icon-globe-2 {
  background-position: 0 -32px;
}

.ui-icon-google {
  background-position: 0 -1056px;
}

.ui-icon-grab-on {
  background-position: 0 -1456px;
}

.ui-icon-grab {
  background-position: 0 -832px;
}

.ui-icon-grid-large {
  background-position: 0 -3984px;
}

.ui-icon-grid-small-2 {
  background-position: 0 -4624px;
}

.ui-icon-grid-small {
  background-position: 0 -4816px;
}

.ui-icon-grip-diagonal-se {
  background-position: 0 -800px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: 0 -4016px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -4080px;
}

.ui-icon-grip-solid-horizontal {
  background-position: 0 -4032px;
}

.ui-icon-grip-solid-vertical {
  background-position: 0 -4096px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: 0 -816px;
}

.ui-icon-hand-point {
  background-position: 0 -3056px;
}

.ui-icon-hand {
  background-position: 0 -2928px;
}

.ui-icon-hanger {
  background-position: 0 -2560px;
}

.ui-icon-headphones {
  background-position: 0 -1920px;
}

.ui-icon-heart-empty {
  background-position: 0 -208px;
}

.ui-icon-heart {
  background-position: 0 -2576px;
}

.ui-icon-help {
  background-position: 0 -2880px;
}

.ui-icon-home {
  background-position: 0 -4512px;
}

.ui-icon-hourglass {
  background-position: 0 -1712px;
}

.ui-icon-hr {
  background-position: 0 -5520px;
}

.ui-icon-image {
  background-position: 0 -2944px;
}

.ui-icon-indent-decrease {
  background-position: 0 -4448px;
}

.ui-icon-indent-increase {
  background-position: 0 -4352px;
}

.ui-icon-info {
  background-position: 0 -2624px;
}

.ui-icon-information {
  background-position: 0 -2640px;
}

.ui-icon-iphone {
  background-position: 0 -5456px;
}

.ui-icon-italic {
  background-position: 0 -4320px;
}

.ui-icon-key {
  background-position: 0 -1424px;
}

.ui-icon-layers {
  background-position: 0 -992px;
}

.ui-icon-lightbulb {
  background-position: 0 -480px;
}

.ui-icon-lightning {
  background-position: 0 -2752px;
}

.ui-icon-like {
  background-position: 0 -3536px;
}

.ui-icon-link-broken {
  background-position: 0 -1072px;
}

.ui-icon-link {
  background-position: 0 -304px;
}

.ui-icon-list-ordered {
  background-position: 0 -3776px;
}

.ui-icon-list-unordered {
  background-position: 0 -4992px;
}

.ui-icon-locked {
  background-position: 0 -3088px;
}

.ui-icon-login {
  background-position: 0 -3104px;
}

.ui-icon-magic-wand-2 {
  background-position: 0 -1888px;
}

.ui-icon-magic-wand {
  background-position: 0 -256px;
}

.ui-icon-mail-closed {
  background-position: 0 -2224px;
}

.ui-icon-mail-open {
  background-position: 0 -3264px;
}

.ui-icon-map-marker {
  background-position: 0 -1568px;
}

.ui-icon-math {
  background-position: 0 -4112px;
}

.ui-icon-mic {
  background-position: 0 -2448px;
}

.ui-icon-microphone {
  background-position: 0 -2592px;
}

.ui-icon-minus {
  background-position: 0 -5680px;
}

.ui-icon-minusthick {
  background-position: 0 -5648px;
}

.ui-icon-money {
  background-position: 0 -544px;
}

.ui-icon-music {
  background-position: 0 -2544px;
}

.ui-icon-new {
  background-position: 0 -2912px;
}

.ui-icon-newspaper-double {
  background-position: 0 -4000px;
}

.ui-icon-newwin {
  background-position: 0 -3888px;
}

.ui-icon-note {
  background-position: 0 -4304px;
}

.ui-icon-notice {
  background-position: 0 -4832px;
}

.ui-icon-ordered-list {
  background-position: 0 -3792px;
}

.ui-icon-paintbrush {
  background-position: 0 -592px;
}

.ui-icon-paper-plane {
  background-position: 0 -1744px;
}

.ui-icon-pause {
  background-position: 0 -5600px;
}

.ui-icon-pdf {
  background-position: 0 -2688px;
}

.ui-icon-pencil {
  background-position: 0 -1328px;
}

.ui-icon-person {
  background-position: 0 -2096px;
}

.ui-icon-phone-e {
  background-position: 0 -2496px;
}

.ui-icon-phone-keypad {
  background-position: 0 -4240px;
}

.ui-icon-phone-n {
  background-position: 0 -2464px;
}

.ui-icon-phone-touch {
  background-position: 0 -3296px;
}

.ui-icon-pie-chart {
  background-position: 0 0;
}

.ui-icon-pin-s {
  background-position: 0 -1520px;
}

.ui-icon-pin-w {
  background-position: 0 -1392px;
}

.ui-icon-play {
  background-position: 0 -4192px;
}

.ui-icon-plus {
  background-position: 0 -5392px;
}

.ui-icon-plusthick {
  background-position: 0 -4256px;
}

.ui-icon-power {
  background-position: 0 -624px;
}

.ui-icon-presentation {
  background-position: 0 -4576px;
}

.ui-icon-print {
  background-position: 0 -4368px;
}

.ui-icon-quote-block {
  background-position: 0 -4640px;
}

.ui-icon-radio-off {
  background-position: 0 -3120px;
}

.ui-icon-radio-on {
  background-position: 0 -1856px;
}

.ui-icon-raptor {
  background-position: 0 -320px;
}

.ui-icon-raptorize {
  background-position: 0 -336px;
}

.ui-icon-redo {
  background-position: 0 -2416px;
}

.ui-icon-refresh {
  background-position: 0 -784px;
}

.ui-icon-relationship {
  background-position: 0 -1312px;
}

.ui-icon-rss-folder {
  background-position: 0 -2112px;
}

.ui-icon-rss {
  background-position: 0 -224px;
}

.ui-icon-save {
  background-position: 0 -4480px;
}

.ui-icon-scales {
  background-position: 0 -1232px;
}

.ui-icon-scissors {
  background-position: 0 -144px;
}

.ui-icon-screen {
  background-position: 0 -5200px;
}

.ui-icon-script {
  background-position: 0 -2800px;
}

.ui-icon-search {
  background-position: 0 -848px;
}

.ui-icon-seek-end {
  background-position: 0 -2720px;
}

.ui-icon-seek-first {
  background-position: 0 -2816px;
}

.ui-icon-seek-next {
  background-position: 0 -4128px;
}

.ui-icon-seek-prev {
  background-position: 0 -4144px;
}

.ui-icon-seek-start {
  background-position: 0 -2832px;
}

.ui-icon-server-error {
  background-position: 0 -1728px;
}

.ui-icon-server {
  background-position: 0 -5136px;
}

.ui-icon-share {
  background-position: 0 -2176px;
}

.ui-icon-shield-2 {
  background-position: 0 -1360px;
}

.ui-icon-shield {
  background-position: 0 -176px;
}

.ui-icon-shopping-bag-dollar {
  background-position: 0 -608px;
}

.ui-icon-shopping-bag {
  background-position: 0 -3040px;
}

.ui-icon-signal-diag {
  background-position: 0 -4048px;
}

.ui-icon-signal {
  background-position: 0 -1600px;
}

.ui-icon-speechbubble-2 {
  background-position: 0 -1344px;
}

.ui-icon-speechbubble {
  background-position: 0 -3072px;
}

.ui-icon-squaresmall-close {
  background-position: 0 -3440px;
}

.ui-icon-squaresmall-minus {
  background-position: 0 -5408px;
}

.ui-icon-squaresmall-plus {
  background-position: 0 -4928px;
}

.ui-icon-star-empty {
  background-position: 0 -352px;
}

.ui-icon-star {
  background-position: 0 -1776px;
}

.ui-icon-stop {
  background-position: 0 -5632px;
}

.ui-icon-stopwatch {
  background-position: 0 -496px;
}

.ui-icon-suitcase {
  background-position: 0 -3904px;
}

.ui-icon-sun {
  background-position: 0 -1120px;
}

.ui-icon-swap {
  background-position: 0 -2304px;
}

.ui-icon-tag {
  background-position: 0 -2848px;
}

.ui-icon-target {
  background-position: 0 -1408px;
}

.ui-icon-text-bold {
  background-position: 0 -2672px;
}

.ui-icon-text-cursor {
  background-position: 0 -5024px;
}

.ui-icon-text-italic {
  background-position: 0 -4336px;
}

.ui-icon-text-size {
  background-position: 0 -432px;
}

.ui-icon-text-strike {
  background-position: 0 -1984px;
}

.ui-icon-text-strikethrough {
  background-position: 0 -2000px;
}

.ui-icon-text-sub {
  background-position: 0 -864px;
}

.ui-icon-text-super {
  background-position: 0 -688px;
}

.ui-icon-text-underline {
  background-position: 0 -3344px;
}

.ui-icon-tools-crossed {
  background-position: 0 -384px;
}

.ui-icon-tools {
  background-position: 0 -2992px;
}

.ui-icon-trash {
  background-position: 0 -4896px;
}

.ui-icon-triangle-1-e {
  background-position: 0 -5296px;
}

.ui-icon-triangle-1-n {
  background-position: 0 -5424px;
}

.ui-icon-triangle-1-ne {
  background-position: 0 -5056px;
}

.ui-icon-triangle-1-nw {
  background-position: 0 -5248px;
}

.ui-icon-triangle-1-s {
  background-position: 0 -5184px;
}

.ui-icon-triangle-1-se {
  background-position: 0 -5440px;
}

.ui-icon-triangle-1-sw {
  background-position: 0 -5232px;
}

.ui-icon-triangle-1-w {
  background-position: 0 -5312px;
}

.ui-icon-triangle-2-e-w {
  background-position: 0 -4528px;
}

.ui-icon-triangle-2-n-s {
  background-position: 0 -4496px;
}

.ui-icon-twitter-2 {
  background-position: 0 -2272px;
}

.ui-icon-twitter {
  background-position: 0 -4288px;
}

.ui-icon-undo {
  background-position: 0 -2288px;
}

.ui-icon-unlink {
  background-position: 0 -1088px;
}

.ui-icon-unlocked {
  background-position: 0 -2480px;
}

.ui-icon-unordered-list {
  background-position: 0 -5008px;
}

.ui-icon-update {
  background-position: 0 -400px;
}

.ui-icon-user-suit {
  background-position: 0 -640px;
}

.ui-icon-user-unknown {
  background-position: 0 -1376px;
}

.ui-icon-user-woman {
  background-position: 0 -656px;
}

.ui-icon-user {
  background-position: 0 -2784px;
}

.ui-icon-video {
  background-position: 0 -80px;
}

.ui-icon-view-source {
  background-position: 0 -928px;
}

.ui-icon-view {
  background-position: 0 -880px;
}

.ui-icon-volume-off {
  background-position: 0 -1664px;
}

.ui-icon-volume-on {
  background-position: 0 -1040px;
}

.ui-icon-wallet {
  background-position: 0 -1840px;
}

.ui-icon-warning {
  background-position: 0 -2352px;
}

.ui-icon-wifi-router {
  background-position: 0 -3392px;
}

.ui-icon-world-web {
  background-position: 0 -64px;
}

.ui-icon-wrench {
  background-position: 0 -1632px;
}

.ui-icon-xls {
  background-position: 0 -2128px;
}

.ui-icon-youtube {
  background-position: 0 -1280px;
}

.ui-icon-zoomin {
  background-position: 0 -560px;
}

.ui-icon-zoomout {
  background-position: 0 -448px;
}
