/**
 * Basic formatting styles.
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
.cms-bold {
    font-weight: bold;
}

.cms-italic {
    font-style: italic;
}

.cms-strike {
    text-decoration: line-through;
}

.cms-underline {
    text-decoration: underline;
}
