
.test-input,
.test-expected, 
.test-output {
    table {
        border-collapse: separate;
    }
}

.test-input,
.test-expected, 
.test-output {
    table, td, th {
        white-space: normal;
        border: 1px dotted #777;
        margin: 5px;
        padding: 5px;
    }
}
