<!--
    Single selection, of a group of words on 1 line
-->
<div class="test-template" data-name="selection-single-group">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        convallis {dui id erat pellentesque et rhoncus} nunc semper. Suspendisse
        malesuada hendrerit velit nec tristique. Aliquam gravida mauris at
        ligula venenatis rhoncus. Suspendisse interdum, nisi nec consectetur
        pulvinar, lorem augue ornare felis, vel lacinia erat nibh in velit.
    </p>
    <p>
        Hendrerit, felis ac fringilla lobortis, massa ligula aliquet justo, sit
        amet tincidunt enim quam sollicitudin nisi. Maecenas ipsum augue,
        commodo sit amet aliquet ut, laoreet ut nunc. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Pellentesque tincidunt eros quis tellus laoreet ac dignissim turpis
        luctus. Integer nunc est, pulvinar ac tempor ac, pretium ut odio.
    </p>
    <p>
        Pellentesque in arcu sit amet odio scelerisque tincidunt. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
</div>
