*.sass-cache*
*.swp
js-doc
tagging
plugins-extra.manifest
addons-extra.manifest
translation-status.html
/nbproject/
/src/plugins-extra/
/vendor/
/composer.lock
/jscover/
/temp/
/packages/
/node_modules/
