<div class="{{baseClass}}-unsupported-overlay"></div>
<div class="{{baseClass}}-unsupported-content">
    It has been detected that you a using a browser that is not supported by Raptor, please
    use one of the following browsers:

    <ul>
        <li><a href="http://www.google.com/chrome">Google Chrome</a></li>
        <li><a href="http://www.firefox.com">Mozilla Firefox</a></li>
        <li><a href="http://www.google.com/chromeframe">Internet Explorer with Chrome Frame</a></li>
    </ul>

    <div class="{{baseClass}}-unsupported-input">
        <button class="{{baseClass}}-unsupported-close">Close</button>
        <input name="{{baseClass}}-unsupported-show" type="checkbox" />
        <label>Don't show this message again</label>
    </div>
<div>