.cms-blue-bg {
    background-color: #2e6e9e;
}

.cms-round-corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cms-indent-center {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
