/**
 * Main editor styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 * @author Michael Robinson <michael@panmedia.co.nz>
 */
@import 'compass/css3/border-radius';
@import 'compass/css3/images';

/******************************************************************************\
 * Inputs
\******************************************************************************/
.ui-editor-wrapper {
    textarea,
    input {
        border: 1px solid #D4D4D4;
    }
}

/******************************************************************************\
 * Dialogs
\******************************************************************************/
.ui-editor-wrapper {
    .ui-dialog-content {
        font-size: $font-size;
    }
}

html body div.ui-wrapper div.ui-dialog-titlebar a.ui-dialog-titlebar-close span.ui-icon {
    margin-top: 0!important;
}

/******************************************************************************\
 * Messages
\******************************************************************************/
.ui-editor-messages {
    .ui-editor-message-close {
        cursor: pointer;
    }

    .ui-editor-message-wrapper {
        -webkit-box-shadow:
            inset 0 -1px 1px rgba(0,0,0,0.35), /*top internal highlight*/
            inset 0 1px 2px rgba(255,255,255,0.5); /*bottom internal shadow*/
        -moz-box-shadow:
            inset 0 -1px 1px rgba(0,0,0,0.35), /*top internal highlight*/
            inset 0 1px 2px rgba(255,255,255,0.5); /*bottom internal shadow*/
        box-shadow:
            inset 0 -1px 1px rgba(0,0,0,0.35), /*top internal highlight*/
            inset 0 1px 2px rgba(255,255,255,0.5); /*bottom internal shadow*/
    }

    &:first-child {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &:last-child {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    /* Error */
    .ui-editor-message-circle-close {
        /* Red */
        @include background(linear-gradient(top, #ff5d4b, #fa1c1c));
    }

    /* Confirm */
    .ui-editor-message-circle-check {
        /* Green */
        @include background(linear-gradient(top, #cdeb8e, #a5c956));
    }

    /* Information */
    .ui-editor-message-info {
        /* Blue */
        @include background(linear-gradient(top, #a9e4f7, #0fb4e7));
    }

    /* Warning */
    .ui-editor-message-alert {
        /* Yellow */
        @include background(linear-gradient(top, #ffd65e, #febf04));
    }

    /* Loading */
    .ui-editor-message-clock {
        /* Purple */
        @include background(linear-gradient(top, #fb83fa, #e93cec));
    }

    .ui-editor-message-clock .ui-icon.ui-icon-clock {
        background: transparent inline-image('loading-small.png') no-repeat center center;
    }
}
