/* Non styles */
@import 'variables';
@import 'mixins';

/* Base style */
@import 'layout';
@import 'style';

/* Components */
@import 'components/path';
@import 'components/selectmenu';
@import 'components/button';
@import 'components/menu';
@import 'components/support';
@import 'components/messages';

/* Layouts */
@import 'layout/toolbar';

/* Plugins */
@import 'plugins/blockquote';
@import 'plugins/class-menu';
@import 'plugins/clean';
@import 'plugins/clear-formatting';
@import 'plugins/click-button-to-edit';
@import 'plugins/color-menu-basic';
@import 'plugins/debug';
@import 'plugins/dock';
@import 'plugins/embed';
@import 'plugins/float';
@import 'plugins/guides';
@import 'plugins/history';
@import 'plugins/hr';
@import 'plugins/i18n';
@import 'plugins/imageresize';
@import 'plugins/insert-file';
@import 'plugins/statistics';
@import 'plugins/link';
@import 'plugins/list';
@import 'plugins/logo';
@import 'plugins/paste';
@import 'plugins/raptorize';
@import 'plugins/save';
@import 'plugins/snippet';
@import 'plugins/snippet-menu';
@import 'plugins/special-characters';
@import 'plugins/table';
@import 'plugins/tag-menu';
@import 'plugins/text-align';
@import 'plugins/text-size';
@import 'plugins/text-style';
@import 'plugins/toolbartip';
@import 'plugins/unsaved-edit-warning';
@import 'plugins/view-source';
