/* Non styles */
@import 'variables';
@import 'mixins';

/* Base style */
@import 'layout';
@import 'style';

/* Components */
@import 'components/wrapper';
@import 'components/path';
@import 'components/selectmenu';
@import 'components/button';
@import 'components/support';
@import 'components/messages';

/* Plugins */
@import 'plugins/alignment';
@import 'plugins/basic';
@import 'plugins/blockquote';
@import 'plugins/clean';
@import 'plugins/clear-formatting';
@import 'plugins/clicktoedit';
@import 'plugins/color-picker-basic';
@import 'plugins/debug';
@import 'plugins/dock';
@import 'plugins/embed';
@import 'plugins/float';
@import 'plugins/fontsize';
@import 'plugins/guides';
@import 'plugins/history';
@import 'plugins/hr';
@import 'plugins/i18n';
@import 'plugins/imageresize';
@import 'plugins/length';
@import 'plugins/link';
@import 'plugins/list';
@import 'plugins/logo';
@import 'plugins/paste';
@import 'plugins/raptorize';
@import 'plugins/save';
@import 'plugins/snippet';
@import 'plugins/tagmenu';
@import 'plugins/toolbartip';
@import 'plugins/unsavededitwarning';
@import 'plugins/viewsource';

@import 'defaults/color-picker-basic';
