html,
body {
    padding: 0;
    margin: 0;
}

.cms-blue-bg {
    background-color: #2e6e9e;
}

.cms-round-corners {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.cms-indent-center {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.grey-box {
    margin-left: 10%;
    margin-right: 10%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #bfbfbf;
}

.switcher {
    border: 1px solid #999;
    padding: 10px;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
}

.switcher-spacer {
    height: 40px;
}

blockquote {
    margin: 10px 20px;
    padding: 0px 20px;
    background-color: #eee;
    overflow: auto;
}

pre {
    margin: 0;
}

.half {
    float: left;
    width: 45%;
    margin: 0 1%;
}

.center {
    margin: 0 auto;
    float: none;
}

.outline {
    border: 1px dotted #777;
}

.editable table {
    width: 100%;
}

.editable td,
.editable th {
    border: 1px dotted #777;
}

.CodeMirror-scroll {
    overflow: visible !important;
    height: auto !important;
}

table {
    width: 100%;
}
td, th {
    border: 1px dotted #777;
}
