/**
 * Main editor styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 * @author Michael Robinson <michael@panmedia.co.nz>
 */
@import 'compass/css3/user-interface';
@import 'compass/css3/transition';

.raptor-wrapper {
    overflow: visible;
    position: fixed;
    font-size: 12px;
    z-index: $z-toolbar;
    @include user-select(none);

    * {
        @include user-select(none);
    }
}

.raptor-editing {
    outline: none;
}

.raptor-editable-hover:not(.raptor-editing),
.raptor-editable:hover:not(.raptor-editing) {
    background: inline-image('diagonal-lines.png') 0 0;
}

.raptor-editing-inline {
    width: 600px;
    min-height: 150px;
    padding: 5px !important;
    background-color: #fff;
    border: $border-style !important;
    border-top: none !important;
}
