/**
 * Button UI widget styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';

.raptor-buttonset {
    float: left;
    margin: 0 5px 4px 0;
    display: inline-block;

    > .ui-button {
        float: left;
        display: block;
        margin: 0 -1px 0 0;
        font-size: $font-size;
    }

    .ui-button:hover {
        z-index: 1;
    }

    .raptor-selectmenu {
        display: block;

        .ui-button {
            margin: 0 -1px 0 0;
        }
    }
}

.raptor-ff .raptor-buttonset {
    float: none;
    vertical-align: top;
}

.raptor-wrapper {
    .raptor-buttonset {
        > .ui-button {
            @include border-radius(0);

            &:first-child {
                @include border-top-left-radius();
                @include border-bottom-left-radius();
            }
            &:last-child {
                @include border-top-right-radius();
                @include border-bottom-right-radius();
            }
        }
    }
}

.ui-button-icon-only .ui-button-text {
    // display: none;
}
