/**
 * Basic color picker plugin default colors.
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
.cms-white {
    color: #ffffff;
}

.cms-black {
    color: #000000;
}

.cms-blue {
    color: #4f81bd;
}

.cms-red {
    color: #c0504d;
}

.cms-green {
    color: #9bbb59;
}

.cms-purple {
    color: #8064a2;
}

.cms-orange {
    color: #f79646;
}


.cms-grey {
    color: #999;
}
