/**
 * Click to edit plugin
 *
 * @author Michael Robinson <michael@panmedia.co.nz>
 * @author David Neilsen <david@panmedia.co.nz>
 */
@import 'compass/css3/transition';

.raptor-hover-panel-basic-hover {
    @include transition(all 0.5s 0s);
    /*background: inline-image('diagonal-lines.png') 0 0;*/
}

.raptor-hover-panel-basic {
    white-space: pre;
    z-index: $z-hover-panel-basic;
    .ui-button {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
