/**
 * Select menu UI widget styles
 *
 * @author David Neilsen <david@panmedia.co.nz>
 */
.raptor-menu {
    z-index: $z-menu;
    padding: 6px;
}

.raptor-menu .ui-menu-item:before {
    display: none;
}

.raptor-menu .ui-menu-item a,
.raptor-menu .ui-menu-item a:hover {
    white-space: pre;
    padding: 3px 10px;
}

